###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/build/
/public/bundles/
!/public/upload
/public/upload/*
!public/upload/.gitignore
/var/
/vendor/
###< symfony/framework-bundle ###
